.LeftSide-main-div {
   background-color: #282c34;
   color: wheat;
   width: 10%;

   background-image: url('../public/images/metal-stripe-vertical-5.png');
   /*background-image: url('../public/images/arctic-metal-6.jpg');*/
   background-position: center;
   background-repeat: no-repeat;
   /*background-size: cover;*/
   background-size: auto 100%;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
}

.add-button {
   height: 50px;
   width: 80%;

   padding: 10px 25px;
   border: none;
  border-radius: 5px;
  background-color: hsla(0, 14%, 15%, 0.259);
  color: #fff;
  text-shadow: 1px 1px #000;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3), -2px -2px 3px rgba(255,255,255,0.5);

  transition: background-color 0.3s ease;

  display: flex;
  justify-content: center; /* centers items horizontally */
  align-items: center;
}

.add-button:hover {
   background-color: #222121
}

.add-button-icon {
   max-width: 100%; max-height: 100%; display: block;
}

.del-button {
   height: 50px;
   width: 80%;


   
   padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: hsla(0, 14%, 15%, 0.259);
  color: #fff;
  text-shadow: 1px 1px #000;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3), -2px -2px 3px rgba(255,255,255,0.5);

  transition: background-color 0.3s ease;

  display: flex;
  justify-content: center; /* centers items horizontally */
  align-items: center;
  overflow: hidden;
}

.del-button:hover {
   background-color: #222121
}

.delete-button-icon {
   max-width: 100%; max-height: 100%; display: block;
}